*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Card Section*/
.card-section{
display: flex;
height: 60rem;
justify-content: center;
align-items: center;
align-content: flex-start;
line-height: 1.6;
background: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-size:cover ;
font-family: sans-serif;
}

.card{
   color: #fff; 
   background-size: cover;
   height: 30em;
   width: 60em; 
   font-weight: 500; 
   animation: fadedown 5s ease-in;
   position: relative;    
}
@keyframes fadedown{
    0% {top: -800px;}
    25%{top: 0px;}

}
li{
    display: block;
    font-size: 2rem;
}


.card-content{
    padding: 1.5em;
    background:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: grid;
    justify-content: flex-start;
    border: 2px solid #6C6A78 ;
   border-radius: 10%; 
   box-shadow: 12px 10px 25px rgba(111, 21, 21, 0.15);
   position: relative;
   overflow: hidden;
    top: -102%;
}
.card-content::before{
    content: "";
    background-image: url(D98161p-a8f1ec7d-4e6f-434a-ae76-1f71db128448.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0.65 ;
    border-radius: 10%;
    transform: rotate(-20deg) translate(0px, 250px);
    
    
}
.card:hover .card-content {
    transform: translateZ(500px);
    
}
.card-title{
    padding-bottom: 20px;
    font-size: 30px;
}
ul img{
    height: 73px;
    border-radius: 25%;
    
}
h2, h3,p, ul{
    position: relative;
}
p{
    top: 2px;
    font-style: italic;
    font-size: 20px;
    left: 280px;
}
.flap {
    width: 100%;
    height: 100%;
  }
  
  .flap > .left {
    position: absolute;
    content: "";
    height: 118%;
    width: 50%;
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(90,37,91,0.7) 35%, rgba(0,212,255,0.7) 100%),url(D98161p-a8f1ec7d-4e6f-434a-ae76-1f71db128448.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    top: -8px;
    border-radius: 10% 0 0 10%; 
    transform-origin: left;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
  }

  .flap h3{
      position: absolute;
      top: 0;
  }
  .flap > .right {
    position: absolute;
    content: "";
    height: 118%;
    width: 54%;
    right: 0;
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(90,37,91,0.7) 35%, rgba(0,212,255,0.7) 100%) , url(caduceus-1245442.jpg);
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    top: -8px;
    border-radius: 0 10% 10% 0;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 32px;
  }
  .right h2{
      padding-left: 30px;
  }
  .left h2{
      padding-right: 20px;
  }
  .card:hover .flap > .right {
    transform: translatex(500px);
  }
  
  .card:hover .flap > .left{
    transform: translatex(-500px);
  }
  

  @media screen and (max-width: 426px) {
      .flap{
          display: none;
      }
      .card-content::before{
          display: none;
      }
      .card-content{
          display: table-cell;
          top: -148px;
      }
      .card{
          animation: none;
          top: 0;
      }
      p{
      left: 173px;
      }
  }
