*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Card Section*/
/*root 900-black, 100-white, 400- green*/
.card-section{
display: grid;
min-height: 100vh;
place-items: center;
line-height: 1.6;
background: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-size:cover ;
font-family: sans-serif;

}
.card{
   color: #5a255b; 
   background-size: cover;
   height: 30em;
   width: 70ch; 
   font-weight: 500;     
}
li{
    display: block;
    font-size: 2rem;
}


.card-content{
    padding: 1.5em;
    /* background:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    display: grid;
    /* background: linear-gradient(to right, #d8a025, #dca84b, #ddb16a, #ddba88, #dbc3a5); */
    background: linear-gradient(to right top, #6c6a78, #8e7c8a, #b19095, #cca79c, #dbc3a5);
    justify-content: center;
    border: 2px solid #6C6A78 ;
   border-radius: 10%; 
   box-shadow: 12px 10px 25px rgba(111, 21, 21, 0.15);
   position: relative;
}
.card-content::before{
    content: "";
    /* background-image: url(https://cdn4.vectorstock.com/i/1000x1000/06/63/hermes-greek-god-silhouette-mythology-symbol-vector-23680663.jpg); */
    background-image: url(img/230-2301891_hermes-greek-god-png-graphic-stock-greek-god.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0.5 ;
    border-radius: 10%;
}
.card-title{
    padding-bottom: 20px;
    font-size: 30px;
}
ul img{
    height: 73px;
    border-radius: 25%;
    
}
h2, h3,p, ul{
    position: relative;
}
p{
    top: 2px;
    font-style: italic;
    font-size: 20px;
    left: 280px;
}
.card-lgscreen{
    color: #5a255b; 
   background-size: cover;
   height: 30em;
   width: 70ch; 
   font-weight: 500;
   border: 2px solid #6C6A78 ;
   border-radius: 10%;
  perspective: 1000px;
}
.card-content-lg{
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10%;
justify-content: center;
box-shadow: 12px 10px 25px rgba(111, 21, 21, 0.15);
}
.card-lgscreen:hover .card-content-lg{
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  .card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10%;
    border: 2px solid #6C6A78 ; 
    background: linear-gradient(to right top, #6c6a78, #8e7c8a, #b19095, #cca79c, #dbc3a5);
    
  }
  .card-front::before{
      content: "";
    background-image: url(img/230-2301891_hermes-greek-god-png-graphic-stock-greek-god.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0.5 ;
    border-radius: 10%;
  }
  .card-back {
    background-color: #6c6a78;
    color: #5a255b;
    transform: rotateY(180deg);
    border-radius: 10%;
    border: 2px solid #6C6A78 ;
    text-align: start; 
  }
  .card-back > h3, ul, p{
      padding-left: 20px;
      padding-top: 20px;
  }
  .card-back > p{
      font-size: 30px;
      padding-top: 0;
  }
  @media only screen and (min-width: 801px){
      .card{
          display: none;
      }
  }
  @media only screen and (max-width: 800px){
      .card-lgscreen{
          display: none;
      }
  }